<!-- animationDuration="500ms" -->
<!-- [@.disabled]="true" -->
<mat-tab-group
  #mytabgroup
  [selectedIndex]="currentMenuId"
  dynamicHeight
  class="mat-tab-group"
  [ngClass]="{ expanded: isExpanded }"
>
  <mat-tab *ngFor="let menu of menus">
    <mat-nav-list #menulist role="menubar" appNavigableList>
      <a
        mat-list-item
        *ngIf="menu.root"
        class="mat-list-item"
        (click)="selectMenu(menu.root, menu.id)"
        [attr.aria-expanded]="true"
        (navSelection)="selectMenu(menu.root, menu.id)"
        [navSelected]="menu.root == selected"
        appNavigableListItem
      >
        <span mat-list-icon class="material-icons" aria-hidden="true">
          {{ menu.root.icon }}
        </span>
        <a matLine>{{ menu.root.label }} </a>
      </a>

      <div role="menu">
        <a
          *ngFor="let link of menu.links"
          mat-list-item
          class="mat-list-item"
          [ngClass]="{ active: link.active }"
          role="menuitem"
          [attr.aria-haspopup]="link.menuId != null"
          (navSelection)="selectMenu(link, menu.id)"
          [navSelected]="link == selected"
          appNavigableListItem
        >
          <span
            mat-list-icon
            class="material-icons"
            matTooltip="{{ link.icon ? link.label : '' }}"
            aria-hidden="true"
          >
            {{ link.icon }}
          </span>

          <a matLine>
            {{ link.label }}
            <span
              *ngIf="link.menuId"
              class="material-icons"
              style="float: right"
            >
              <span class="material-symbols-outlined" aria-hidden="true">
                arrow_forward_ios
              </span></span
            >
          </a>
        </a>
      </div>
    </mat-nav-list>
  </mat-tab>
</mat-tab-group>
